article.container-five {
    background-image: url(../../img/bg/bgsix.webp);
    background-size: cover;
    padding: 2rem 0;

    .container {
        @include boundaries(row, column);
        height: 100%;
        align-items: center;
    }

    .container-left {
        display: flex;
        width: 50%;
        .price {
            width: 100%;

            img {
                width: 100%;
            }
        }
        @media screen and (max-width: 480px) {
            & {
                width: 100%;
                margin-bottom: 3rem;
            }
        }
    }

    .container-right {
        width: 50%;

        h5 {
            @include font(1.4rem, bold, center);
            margin-bottom: 2rem;
        }
        p {
            @include font(1.2rem, 500, left);
            margin-bottom: 2rem;
        }
        .button{
            i {
                color: set-icon-color($color-button);
                margin-right: 0.5rem;
                font-size: 1.7rem
            }
            p {
                @include font(1.1rem, bold, center);
                width: 100%;
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: 480px) {
            & {
                width: 100%;
            }

            .button{
                i {
                    font-size: 1.5rem
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}